<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Ionic Seed App</title>

    <!-- ionic css -->
    <link href="css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">

    <!-- angularjs scripts -->
    <script src="js/ionic.bundle.js"></script>

    <!-- cordova script -->
    <script src="cordova.js"></script>

    <script src="js/app.js"></script>
    <script src="js/collide.js"></script>
    <script src="js/ionic.tdcards.js"></script>
  </head>

  <!-- 
    'starter' is the name of this angular module (js/app.js)
  -->
  <body ng-app="starter" no-scroll>
    <ion-pane ng-controller="CardsCtrl">
      <ion-header-bar class="bar-default">
        <h1 class="title">TD Cards</h1>
      </ion-header-bar>

      <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
          <div class="image" ng-controller="CardCtrl">
            <div class="yes-text">NOPE</div>
            <img ng-src="{{card.image}}">
            <div class="no-text">LIKE</div>
          </div>
        </td-card>
      </td-cards>
    </ion-pane>
  </body>
</html>
